<div class="description">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
</div>
<div class="pics col">
  <a href="{{links.[0]}}"><img src="{{picLinks.[0]}}"/></a>
  <a href="{{links.[1]}}"><img src="{{picLinks.[1]}}"/></a>
</div>
